---
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";
import "../../styles/blog.css";
import "@fontsource/work-sans";
import "@fontsource/work-sans/700.css";
import type { AstroComponentFactory } from "astro/runtime/server/index.js";

type PostModule = {
  frontmatter: {
    title: string;
    date?: string;
    banner?: string;
    bannerAlt?: string;
    description?: string;
    [tags: string]: any;
  };
  Content: ReturnType<AstroComponentFactory>;
};

// Update this path if your .md files are in src/content/posts/
const postImport = import.meta.glob("./content/*.md");

export async function getStaticPaths() {
  const postImport = import.meta.glob("./content/*.md");
  const paths = [];
  for (const path in postImport) {
    const slug = path.split("/").pop()?.replace(".md", "") ?? "";
    paths.push({ params: { slug } });
  }
  return paths;
}

const { slug } = Astro.params;
let post: PostModule | undefined;
for (const path in postImport) {
  if (path.endsWith(`${slug}.md`)) {
    post = (await postImport[path]()) as PostModule;
    break;
  }
}
if (!post) {
  throw new Error(`Post not found: ${slug}`);
}
const PostContent = post!.Content;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{post!.frontmatter.title}</title>
    <link
      rel="icon"
      type="image/png"
      href="https://avatars.githubusercontent.com/u/81783950"
    />

    {
      post!.frontmatter.tags && (
        <meta name="keywords" content={post!.frontmatter.tags.join(", ")} />
      )
    }

    <meta property="og:title" content={post!.frontmatter.title} />
    <meta property="og:image" content={post!.frontmatter.banner} />
    <meta property="og:image:alt" content={post!.frontmatter.bannerAlt} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:description" content={post!.frontmatter.description} />
    <meta property="og:site_name" content="abucky.dev" />
    <meta property="og:type" content="article"/>

    <meta name="twitter:card" content={post!.frontmatter.banner} />
    <meta name="twitter:title" content={post!.frontmatter.title} />
    <meta name="twitter:description" content={post!.frontmatter.description} />
    <meta name="twitter:image" content={post!.frontmatter.banner} />
  </head>
  <body>
    <Navigation currentPath={Astro.url.pathname} />
    <main class="main-blog-content">
      <article>
        <h1 class="blog-title">{post!.frontmatter.title}</h1>
        {
          post!.frontmatter.date && (
            <p class="blog-date-container">
              <em class="blog-date">
                {post!.frontmatter.date &&
                  new Date(post!.frontmatter.date).toLocaleDateString("en-US", {
                    year: "numeric",
                    month: "long",
                    day: "numeric",
                  })}
              </em>
            </p>
          )
        }
        {
          post!.frontmatter.banner && (
            <img
              src={post!.frontmatter.banner}
              alt={post!.frontmatter.bannerAlt || "Banner image"}
              class="blog-banner"
            />
          )
        }
        <hr class="blog-title-hr" />
        {/* @ts-expect-error Astro dynamic component */}
        <PostContent />
      </article>
    </main>
    <Footer />
  </body>
</html>
