---
// filepath: c:\Users\buckn\Desktop\GitHub\website\src\pages\404.astro
import "../styles/global.css";
import "@fontsource/work-sans";
import "@fontsource/work-sans/700.css";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>404: {Astro.url.pathname} not found</title>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        let random = Math.floor(Math.random() * 100);
        console.log(random);
        // random = 0;
        if (random === 0) {
          document.getElementById("teapot").style.display = "";
          document.getElementById("notfound").style.display = "none";
        }
      });
    </script>
  </head>
  <body>
    <Navigation />
    <div class="err-page">
      <div id="teapot" style="display:none">
        <h1 class="errhone">418</h1>
        <h2>I'm a fuckin teapot &#129750;</h2>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/tztsLGsuRdU?si=APHEjShLg7KDOvxE"
          title="YouTube video player"
          frameborder="0"
          allow="autoplay; encrypted-media;picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          style="border-radius: 10px"></iframe>
      </div>
      <div id="notfound">
        <h1 class="errhone">404</h1>
        <h2 id="notfound-path" style="color: #aaa;">Not Found</h2>
        <script>
          document.addEventListener("DOMContentLoaded", () => {
            const el = document.getElementById("notfound-path");
            if (el) {
              el.textContent = window.location.pathname + " Not Found";
            }
          });
        </script>
      </div>
    </div>
    <Footer />
  </body>
</html>
