---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "@fontsource/work-sans";
import "@fontsource/work-sans/700.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blog</title>
  </head>
  <body>
    <Navigation currentPath={Astro.url.pathname} />
    <main class="main-content">
      <h1>Projects</h1>
    </main>
    <Footer />
  </body>
</html>
